<br />
<img src="https://png.pngtree.com/png-vector/20190501/ourmid/pngtree-security-icon-design-png-image_1012600.jpg" alt="Área de Administração" width="300px"/>
<div class="container">
    <div class="jumbotron">
        <p><h2>Esta é a área do Administrador</h2></p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Volta a Home Page Admin</a>
</div>