@{
    ViewData["Title"] = "Página Inicial";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Trabalho de Asp.Net com Entity Framework</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            padding: 40px;
            margin-top: 50px;
        }

        h1, h2 {
            color: #343a40;
            margin-bottom: 20px;
        }

        p {
            color: #6c757d;
            line-height: 1.6;
        }

        ul {
            list-style-type: none;
            padding-left: 0;
        }

        img {
            border-radius: 10px;
        }

        .project-info {
            display: flex;
            align-items: center;
            margin-bottom: 40px;
        }

        .project-info-content {
            margin-left: 20px;
        }
        p {
            text-align:justify;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="project-info">
            <div class="col-md-6">
                <img src="https://faculdadeinfnet.com.br/wp-content/uploads/sites/10/2023/10/opengraph-faculdade-infnet.png" alt="Imagem do Projeto" class="img-fluid">
            </div>
            <div class="col-md-6 project-info-content">
                <h2>Meu Trabalho de Asp.Net com Entity Framework</h2>
                <p>
                    Este é um projeto desenvolvido em ASP.NET com o uso do Entity Framework para interação com o banco de dados. Ele demonstra minhas habilidades em desenvolvimento web e gerenciamento de dados.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>O que gostaria que fosse abordado:</h2>
                <ul class="list-group">
                    <li class="list-group-item">Desenvolvimento de aplicativos web escaláveis e seguros com ASP.NET Core.</li>
                    <li class="list-group-item">Integração eficiente do Entity Framework para operações de banco de dados.</li>
                    <li class="list-group-item">Implementação de recursos avançados, como autenticação, autorização e validação de dados.</li>
                </ul>

                <h2>O que mais gosto nas disciplinas de programação:</h2>
                <p>
                    Gosto da capacidade de resolver problemas de forma criativa e construir soluções que impactam positivamente as pessoas. Também aprecio a constante aprendizagem e o desafio de acompanhar as novas tecnologias.
                </p>
                <h2>O que menos gosto nas disciplinas de programação:</h2>
                <p>
                    Às vezes, pode ser frustrante lidar com problemas complexos e bugs difíceis de depurar. Além disso, a curva de aprendizado pode ser íngreme em alguns conceitos avançados.
                </p>
                <h2>Sugestões de Melhoria:</h2>
                <p>
                    Para melhorar as disciplinas de programação, sugiro mais foco em projetos práticos e hands-on, onde os alunos possam aplicar os conceitos aprendidos em situações do mundo real. Também seria útil ter mais orientação e suporte para resolver problemas técnicos e de programação.
                </p>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
